<ul class="flex space-x-4">
<%= if @current_user do %>
  <li class="px-2 py-1 rounded hover:bg-indigo-800">
    <%= link "Players", to: Routes.player_index_path(@conn, :index) %>
  </li>
  <li class="px-2 py-1 rounded hover:bg-indigo-800">
    <%= link "Teams", to: Routes.team_index_path(@conn, :index) %>
  </li>
  <%# <li><%= link "Users", to: Routes.user_index_path(@conn, :index) %></li>
<% end %>
</ul>
